############################
# npm
############################
node_modules
.gitattributes
.editorconfig
/test
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject
