.container {
	&.full-container {
		padding: 0;
	}
}

.full-container {
	height: 100%;
  	width: 100%;
  	margin: 0 0;
}

.col-left {
	height: 100%;
	position: relative;
	border-right: 5px double silver;
	background-color: rgba(255, 255, 255, 0.2);

  	> footer {
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		padding: 20px;
  		width: 100%;
  		text-align: center;
  	}
}

.col-right {
	height: 100%;
}

.navbar {
	border-radius: 0;
}