.container {
	&.full-container {
		padding: 0;
	}
}

.full-container {
	height: 100%;
  	width: 100%;
  	margin: 0 0;
}

.col-left {
	height: 100%;
	position: relative;
	display: block;
	overflow-y: auto;
	
	> h1, h2, h3, h4, p, a {
		color: white;
	}

  	> footer {
  		position: absolute;
  		bottom: 0;
  		left: 0;
  		padding: 20px;
  		width: 100%;
  		text-align: center;
  	}
}

.col-right {
	height: 100%;
	display: block;
	position: static;
	overflow-y: auto;
	background-color: white;
}

.exercises {
	h1 {
		font-size: 4em;
		padding: 10px;
		color: white;
		text-align: center;
	}
}

.navbar {
	border-radius: 0;
}