.steps--list {
	list-style-type: none;
	font-size: 3em;
	overflow-y: scroll;
}

.steps--list {
	> li {
		line-height: 18px;
		margin-bottom: 50px;
		font-size: 0.7em;
		> h3 {
			 display: inline;
			 font-size: 1em;
		}
	}
}

.visible {
	opacity: 1;
}

.hidden {
	opacity: 0;
}