.shape {
	width: 100px;
	height: 100px;
	background-color: orange;
	margin: 0 auto 0 auto;
}

.fitts-law-example {
	text-align: center;
	margin: 0 auto 0 auto;
	margin-top: 20px;
}

.fitts-law-example > img{
	text-align: center;
	margin: 0 auto 0 auto;
}

#line{
    position:static;
    height: 5px;
    color:white;
    background:red;
    margin-bottom: 10px;
}

.text--orange {
	color: orange;
}

.text--red {
	color: red;
}

#identification-1 {
	font-size: 20px;
	cursor: pointer;
}

.player-icon {
	font-size: 1em;
	padding: 1px;
}