.shape {
	width: 100px;
	height: 100px;
	border: 5px solid orange;
	margin: 0 auto 0 auto;
  	display: block;
}

.shape-inner {
	width: 50px;
	height: 50px;
  	margin: 25px 25px 25px 25px;
  	display: block;
  	border: 5px solid green;
  	position: absolute;
}

.fitts-law-example {
	text-align: center;
	margin: 0 auto 0 auto;
	margin-top: 20px;
}

.fitts-law-example > img{
	text-align: center;
	margin: 0 auto 0 auto;
}

.line{
    position:static;
    height: 5px;
    color:white;
    margin-bottom: 10px;
}

.time-indicator {
	font-size: 2em;
}

.text--orange {
	color: orange;
}

.text--red {
	color: red;
}

#identification-1 {
	font-size: 20px;
	cursor: pointer;
}

.player-icon {
	font-size: 1em;
	padding: 1px;
}