body, html {
	height: 100%;
	max-width: 100%;
	background-color: #f25a5a;
	margin: 0 0;
	padding: 0;
}

.centered-title {
	width: 40%;
	text-align: center;
	padding: 20px;
	line-height: 2em;
	font-size: 2em;
	border: 10px solid white;
	color: white;

	margin: 60px auto 0 auto;

	> h1, h2, h3 {
		color: white;
	}

	> h1 {
	   font-size: 2em;
	}
}

.start {
	text-align: center;
	display: block;

	> .btn {
		margin: 10px;
		font-size: 2em;
		background-color: transparent;
	}
}

@import 'components/columns';
@import 'components/lists';
