body, html {
  height: 100%;
  max-width: 100%;
  background-color: #f25a5a;
  margin: 0 0;
  padding: 0; }

.centered-title {
  width: 40%;
  text-align: center;
  padding: 20px;
  line-height: 2em;
  font-size: 2em;
  border: 10px solid white;
  color: white;
  margin: 60px auto 0 auto; }
  .centered-title > h1, .centered-title h2, .centered-title h3 {
    color: white; }
  .centered-title > h1 {
    font-size: 2em; }

.start {
  text-align: center;
  display: block; }
  .start > .btn {
    margin: 10px;
    font-size: 2em;
    background-color: transparent; }

.container.full-container {
  padding: 0; }

.full-container {
  height: 100%;
  width: 100%;
  margin: 0 0; }

.col-side, .col-left, .col-right {
  min-height: 100%;
  position: relative;
  display: block;
  padding-bottom: 30px; }

.col-left {
  position: fixed;
  float: left; }
  .col-left > h1, .col-left h2, .col-left h3, .col-left h4, .col-left p, .col-left a {
    color: white; }
  .col-left > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    text-align: center; }

.col-right {
  float: right;
  background-color: white; }

.exercises h1 {
  font-size: 4em;
  padding: 10px;
  color: white;
  text-align: center; }

.navbar {
  border-radius: 0; }

.steps--list {
  list-style-type: none;
  font-size: 3em; }

.steps--list > li {
  line-height: 18px;
  margin-bottom: 50px;
  font-size: 0.7em; }
  .steps--list > li > h3 {
    display: inline;
    font-size: 1em; }

.visible {
  opacity: 1; }

.hidden {
  opacity: 0; }
