.step-content {
	margin-bottom: 10px;
	padding: 30px;
}

.tab-content {
	padding: 20px;
}

.tab-content-better {
	border: 1px solid #E6E6E6;
	border-top: none;
}

.tab-content-best {
	background-color: #E6E6E6;
}

 .nav-tabs-best > li.active > a,
.nav-tabs-best > li.active > a:hover,
.nav-tabs-best > li.active > a:focus{
    color: #555555;
    background-color: #E6E6E6;  
} å