.btn-sample {
	padding: 20px;
	margin: 20px;
	font-size: 1.2em;
}

.btn-flat {
	border: none;
	border-radius: 0;
	padding: 1;
	background-color: #f06;
}

.btn-flat:active {
	text-decoration: none;
	background-color: #f06;
	border: none;
}

.btn-flat:hover {
	cursor: initial;
	border: none;
	background-color: #f06;
}

.btn-contrast-red {
	background-color: red;
	color: blue;
}

.btn-contrast-blue {
	background-color: blue;
	color: red;
}

.btn-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 3px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 3px 0px #ccc; 
}